@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#main {
  max-width: 100ch;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
}

/* These are notes from me to me.  These should all disappear before this document is done.
 * The idea is to look like a "yellow sticky".
 */
div.stage-direction {
  font-family: "Oooh Baby", cursive;
  font-size: 1.5rem;
  margin: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.6em;
  background-color: #ffff8f;
  color: cornflowerblue;
  box-shadow: black 0.075em 0.075em 0.45em 0.05em;
  text-align: justify;
}

p {
  text-align: justify;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  text-indent: 0.5em;
}

h1 + p {
  text-indent: 0;
}

code,
pre {
  font-family: "Nanum Gothic Coding", monospace;
}

code {
  background-color: lightblue;
  border-radius: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
  text-indent: -1rem;
  margin-bottom: 0.4rem;
}

g.sphere {
  --x: 0;
  --y: 0;
  --diameter: 1;
  transform: translate(var(--x), var(--y)) scale(var(--diameter));
}

g.sphere > :nth-child(1) {
  fill: #ff7d00;
}

g.sphere > path {
  fill: white;
}

g.sphere > :nth-child(3) {
  stroke: none;
  fill: url(#sphere);
}

g.sphere > circle {
  r: 0.5;
}

#overview1,
#overview2svg {
  width: 5em;
  height: 5em;
}

#overview2top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7em;
}

#overview2text {
  width: 10ch;
  flex-grow: 1;
}
